<%= form_with(model: appraisal, local: true) do |form| %>
  <% if appraisal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appraisal.errors.count, "error") %> prohibited this appraisal from being saved:</h2>

      <ul>
      <% appraisal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :appraisal_content %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :appraisal_value %>
  </div>

  


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
