<p id="notice"><%= notice %></p>

<h1>Appraisals</h1>

<table>
  <thead>
    <tr>
      <th>Appraisal Comment</th>
      <th>Value</th>
      <th>Appraiser Email</th>
      <th>Item name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appraisals.each do |appraisal| %>
      <tr>
        <td><%= appraisal.content %></td>
        <td><%= appraisal.value %></td>
        <td><%= appraisal.user.email %></td>
        <td><%= appraisal.item.name %></td>
        <td><%= link_to 'Show', appraisal %></td>
        <td><%= link_to 'Edit', edit_appraisal_path(appraisal) %></td>
        <td><%= link_to 'Destroy', appraisal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Home', items_path %>
