<h1>New Appraisal</h1>

<%= @item.id %> <br/>
<%= @item.name %>
<p>
<h2><%= @appraisal.item_id %></h2>

  <strong></strong>
  <% if @item.image.present? %>
    <%= image_tag @item.image[:medium].url %>
  <% end %>

</p>

<%= render 'form', appraisal: @appraisal %>

<%= link_to 'Back', appraisals_path, class: 'btn btn-primary' %>
