<p id="notice"><%= notice %></p>

<h1>Antiques</h1>



  <images>
    <% @items.each do |item| %>

      <div>
         <%= item.name %><br/>
         <%= item.description %><br/>
         <%= item.condition %><br/>
         <%= item.manufacture %><br/>
         <%= item.manufacture_date %><br/>
         <%= image_tag item.image[:medium].url%><br/>
         <%= item.dimension %><br/>
         <%= item.weight %><br/>
         <%= item.user.email %><br/>
         <%= link_to 'Show', item %><br/>
         <%= link_to 'Edit', edit_item_path(item) %><br/>
         <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %><br/>
      </div>
    <% end %>
  </images>


<br>

<%= link_to 'New Item', new_item_path %>
