<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @item.condition %>
</p>

<p>
  <strong>Manufacture:</strong>
  <%= @item.manufacture %>
</p>

<p>
  <strong>Manufacture date:</strong>
  <%= @item.manufacture_date %>
</p>

<p>
  <strong> </strong>
  <% if @item.image.present? %>
    <%= image_tag @item.image[:medium].url %>
  <% end %>

</p>

<p>
  <strong>Dimension:</strong>
  <%= @item.dimension %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @item.weight %>
</p>

<p>
  <strong>Owner email:</strong>
  <%= @item.user.email %>
</p>


<h2>Appraisals</h2>
<p>
<strong>Average appraisal: </strong> <%= @item.average_appraisal_amount %>
</p>
<ul>
<% @appraisals.each do |appraisal| %>
  <li><%= appraisal.value %></li>
<% end %>
</ul>

<div>
  
  <ul>
<% @appraisals.each do |appraisal| %>
  <li><%= appraisal.content %></li>
<% end %>
</ul>


</div>




<%= form_with model: @item, url: new_appraisal_path, method: :get, local: true, class: 'form' do |form| %>
  <%= form.hidden_field :id %>
  <%= form.submit " Make Appraisal ", class: 'btn btn-secondary' %>
<% end %>

<%= link_to 'Edit', edit_item_path(@item), class: 'btn btn-primary' %> |
<%= link_to 'Back', items_path, class: 'btn btn-primary' %>
