<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @item.condition %>
</p>

<p>
  <strong>Manufacture:</strong>
  <%= @item.manufacture %>
</p>

<p>
  <strong>Manufacture date:</strong>
  <%= @item.manufacture_date %>
</p>

<p>
  <strong>Image data:</strong>
  <% if @item.image.present? %>
    <%= image_tag @item.image[:medium].url %>
  <% end %>

</p>

<p>
  <strong>Dimension:</strong>
  <%= @item.dimension %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @item.weight %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user.email %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
