<!DOCTYPE html>
<html>
  <head>
    <title>TreasureFind</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="header">
        
        <h1>TreasureFind</h1>
    

        <%= render 'pages/partials/header'%>
        
      </div>

      <div id="main">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       
       <% if current_user %>
         
         <%= current_user.email %>
       <% end %>
      
          <div id="content">
            <%= yield %>
          </div>
      </div>
      <div id="footer">
        <p id="copyright"> </p>
      </div>
  </body>
</html>
